VITE_API_BASE_URL=https://bakeease-backend.onrender.com
VITE_BANK_ACCOUNT_NAME=FIE Esther Adesola Eleduwe
VITE_BANK_ACCOUNT_NUMBER=EE457700771012263258
VITE_BANK_NAME=LHV Bank
VITE_BANK_PAYMENT_NOTE=Please include your unique payment reference in the transfer description.